{% extends 'base.html' %}
{% load l10n %}
{% block title %}Products{% endblock %}
{% block menu %}

{% endblock %}
{% block content %}
{% include 'partial/search.html' %}
<div class="content">
    <div class="product-list">
        {% if products %}
        {% for p in products %}
        <div class="product-item">
            <div class="product-desc">
                <p class="product-title">{{ p.name }}</p>
                {% for choice in choices %}
                    {% if choice.0 == p.category %}
                        <p class="product-category">{{ choice.1 }}</p>
                    {% endif %}
                {% endfor %}
                <p><a href="{% url 'product_detail' p.id %}">see more >>></a></p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Products is empty!</p>
        {% endif %}
    </div>
</div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}