{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block content %}
<div class="container">
    <div class="card">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div>
                {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                    <div>{{field}}</div>
                    {% if field.errors%}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="form_row">
                {% bootstrap_button button_type="submit" content='Зарегистрироваться' %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
